<!DOCTYPE HTML>
<!-- ./partials/sidebar.ejs -->

<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
    
        <!-- Dashboard -->
        <li class="active">
            <a href="/admin/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>     
        <!-- End Dashboard -->

        <!-- Navigation -->
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#navigation"><i class="fa fa-fw fa-arrows-v"></i> Navigation<i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="navigation" class="collapse">
                <li>
                    <a href="/admin/navigation/navbar">Navigation Bar</a>
                </li>
                <li>
                    <a href="/admin/navigation/sidebarPrimary">Primary Sidebar</a>
                </li>
                <li>
                    <a href="/admin/navigation/sidebarSecondary">Secondary Sidebar</a>
                </li>   
                <li>
                    <a href="/admin/navigation/footer">Footer</a>
                </li>
                <li>
                    <a href="/admin/navigation/socialMedia">Social Media</a>
                </li>                                                    
            </ul>
        </li>           
        <!-- End Navigation -->  

        <!-- Pages -->
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#pages"><i class="fa fa-fw fa-edit"></i> Pages<i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="pages" class="collapse">
                <li>
                    <a href="/admin/pages/add">Add New</a>
                </li>
                <li>
                    <a href="/admin/pages/index">Manage Index</a>
                </li>                
                <li>
                    <a href="/admin/pages">Manage Existing</a>
                </li>
            </ul>
        </li>

        <!-- End Pages -->     

        <!-- Pages -->
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#contentManager"><i class="fa fa-fw fa-edit"></i> Content Management<i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="contentManager" class="collapse">
                <li>
                    <a href="/admin/uploadFiles">Images</a>
                </li>
            </ul>
        </li>

        <!-- End Pages -->    



        <!-- User Account -->
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#account"><i class="fa fa-fw fa-desktop"></i> User Account<i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="account" class="collapse">
                <li>
                    <a href="/admin/account">My Account</a>
                </li>
            </ul>
        </li>           
        <!-- End User Account -->

                        
    </ul>
</div><!-- /.navbar-collapse -->