<!DOCTYPE HTML>
<!-- partials/navbar.ejs -->

    <header> 
    <div class="width">

            <h1><a href="/">deiform</a></h1>

        <nav>
    
                <ul class="sf-menu dropdown">

            
                    <li class="selected"><a href="index.html">Home</a></li>

                        <li>

                    <a href="examples.html">Style examples</a>
                        
                    <ul>
                                <li><a href="three-column.html">Three Column</a></li>
                        <li><a href="one-column.html">One Column</a></li>
                                    <li><a href="#">Another link</a></li>
                            </ul>

                        </li>

                    <li><a href="#">Services</a></li>
            
                <li>

                    <a href="#">Products</a>
                            
                    <ul>
                                <li><a href="#">Product One</a></li>
                                <li><a href="#">Product Two</a></li>
                                <li><a href="#">Product Three</a></li>
                            </ul>

                        </li>
            
                <li><a href="#">Contact</a></li>
                </ul>

            
            <div class="clear"></div>
            </nav>
        </div>

    <div class="clear"></div>

       
    </header>